
/* Paging */
span.paging
{
  margin-right: 0.5em;
}

/* Sorting */
.sort-ascending > span
{
  background: url(/pub/images/widget/datagrid/sort_bg_asc.png) repeat-x bottom;
}

.sort-ascending > span > a
{
  background: url(/pub/images/widget/datagrid/up_arrow.png) no-repeat right center;
}

.sort-descending > span
{
  background: url(/pub/images/widget/datagrid/sort_bg_desc.png) repeat-x top;
}

.sort-descending > span > a
{
  background: url(/pub/images/widget/datagrid/down_arrow.png) no-repeat right center;
}


.sort-ascending > span > a, .sort-descending > span > a,
.sort-ascending > span, .sort-descending > span
{
  display: block;
  text-decoration: underline;
}

/* Searching */
.datagrid-search-bar > .extra-top-1, .datagrid-search-bar > .extra-top-2,
.datagrid-search-bar > .extra-top-3,
.datagrid-search-bar > .extra-bottom-1, .datagrid-search-bar > .extra-bottom-2,
.datagrid-search-bar > .extra-bottom-3, .datagrid-search-bar > span
{
  display: none;
}

.datagrid-search-bar
{
  background: url(/pub/images/widget/datagrid/isearch.png) no-repeat left center;
  padding-left: 18px;
  min-height: 16px;
  margin-bottom: 2px;
}

.datagrid-search-bar > form, .datagrid-search-bar > form > fieldset
{
  display: inline;
  border: none;
  padding: 0;
  margin: 0;
}

.datagrid-search-bar > form > fieldset > input.search-bar
{
  margin: 0;
}

.datagrid-search-bar > form > fieldset > input.submit
{
  margin: 0;
  margin-left: 0.5em;
}

