
.debug-toolbar
{
  background-color: #d0d0d0;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  border-top: #f5f5f5 1px solid;

  text-align: left;
}

.debug-toolbar img
{
  border: none;
}
