
.flash > div.widget-body > .renderer
{
  background: #f8e9d8 url(/pub/images/widget/flash/top_background.png) repeat-x;
}

.flash > div.widget-body > .renderer > .extra-top-1
{
  background: url(/pub/images/widget/flash/top_left.png) no-repeat top left;
}

.flash > div.widget-body > .renderer >  .extra-top-2
{
  background: url(/pub/images/widget/flash/top_right.png) no-repeat top right;
  border-bottom-color: #ead8c2;
}

.flash > div.widget-body > .renderer > ul.messages p
{
  padding: 0;
  margin: 0;
}

.flash > div.widget-body > .renderer > ul.messages
{ 
  border-left-color: #ead8c2;
  border-right-color: #ead8c2;
}

.flash > div.widget-body > .renderer > ul.messages > li
{
  height: 16px;
}

.flash > div.widget-body > .renderer > ul.messages > li
{
  padding-left: 32px;
  min-height: 16px;
  height: auto;
  border-top-color: #fef9f6;
  border-bottom-color: #ead8c2;
  list-style-image: none;
  background: url(/pub/images/widget/flash/flag.png) no-repeat top left;
}

.flash > div.widget-body > .renderer > .extra-bottom-1
{
  background: url(/pub/images/widget/flash/bottom_background.png) repeat-x bottom;
  border-top-color: #fef9f6; 
}

.flash > div.widget-body > .renderer > .extra-bottom-2
{
  background: url(/pub/images/widget/flash/bottom_left.png) no-repeat bottom left;
}

.flash > div.widget-body > .renderer > .extra-bottom-3
{
  background: url(/pub/images/widget/flash/bottom_right.png) no-repeat bottom right;
}

