
.form
{
  width: 25em;
}

.form > fieldset
{
  border: none;
  padding: 0;
  margin: 0;
}

.form > fieldset > .validation-errors-summary
{
  display: none;
}

.form > fieldset > .form-fields-title
{
  display: none;
}

.form > fieldset > ul > li > label > input
{
  border: solid 1px #29364F;
  background-color: #F6FBFD;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0;
  width: 12em;
}

.form > fieldset > ul > li > label > input:hover
{
  background-color: #D8EAF8;
}

.form > fieldset > ul > li > label > input:focus
{
  background-color: #D8EAF8;
}

.form > fieldset > .submit > input
{
  display: inline;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 0.5em;
  border: solid 1px black;
  width: 5em;
}

.form > fieldset > .submit > input:hover
{
  background-color: #D8EAF8;
}

span.validation-error-heading
{
  display: none;
}

p.validation-error
{
  color: red;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}
