
.form
{
  background: #ecf8d7 url(/pub/top_background.png) repeat-x;
  width: 25em;
}

.form > .extra-top-1
{
  height: 7px;
  background: url(/pub/top_left.png) no-repeat top left;
}

.form > .extra-top-2
{
  height: 7px;
  margin-top: -7px;
  background: url(/pub/top_right.png) no-repeat top right;
  border-bottom: 1px solid #dbeac1;
}

.form > .extra-top-3
{
  display: none;
}

.form > fieldset
{
  border: none;
  padding: 0;
  margin: 0;
}

.form > fieldset > h1
{
  margin: 0;
  padding: 0;
  padding-left: 0.4em;
  border-top: 1px solid #fcfef6;
  border-bottom: 1px solid #dbeac1;
  border-left: 2px solid #dbeac1;
  border-right: 2px solid #dbeac1;
  font-size: 1.2em;
  font-weight: bolder;
  color: #29364F;
}

.form > fieldset > h1 > .action
{
  display: none;
}

.form > fieldset > ul
{
  border-left: 2px solid #dbeac1;
  border-right: 2px solid #dbeac1;
  padding-top: 1px;
  padding-left: 0;
  margin: 0;
}

.form > fieldset > ul > li
{
  list-style: none;
  border-top: 1px solid #fcfef6;
  border-bottom: 1px solid #dbeac1;
  padding-left: 1.5em;
  padding-top: 0.25em;
  height: 1.5em;
}

.form > fieldset > ul > li > label
{
  font-size: 0.95em;
  font-weight: bolder;
  color: grey;
  display: block;
}

.form > fieldset > ul > li > span
{
  font-size: 0.9em;
  font-family: "sans-serif";
  position: absolute;
  left: 12em;
  margin-top: -1.5em;
}

.form > fieldset > ul > li > span > input
{
  width: 17em;
  border: solid 1px black;
  font-size: 0.9em;
}

.form > fieldset > ul > li.submit
{
  padding-left: 0;
  margin-left: 0;
}

.form > fieldset > ul > li.submit > span
{
  position: absolute;;
  left: 12em;
  margin-top: 0;
}

.form > fieldset > ul > li.submit > span > button
{
  margin-right: 0.5em;
  font-size: 0.9em;
  border: solid 1px black;
}


.form > .extra-bottom-1
{
  height: 6px;
  background: url(/pub/bottom_background.png) repeat-x bottom;
  border-top: 1px solid #fcfef6;
}

.form > .extra-bottom-2
{
  height: 7px;
  margin-top: -7px;
  background: url(/pub/bottom_left.png) no-repeat bottom left;
}

.form > .extra-bottom-3
{
  height: 7px;
  margin-top: -7px;
  background: url(/pub/bottom_right.png) no-repeat bottom right;
}



