
.gridedit form.add-entry > fieldset
{
  border: none;
  margin: 0;
  padding: 0;
}

.gridedit form.add-entry
{
  text-align: right;
}

.gridedit form.add-entry > fieldset > input.submit
{
  width: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0;
  margin-bottom: 1em;
}
