
/* Flash */
div.gridedit .flash
{
  position: relative;
  _height: 1%; /* hasLayout IE 6 fix */
}

div.gridedit .flash .renderer .extra-top-1
{
  position: absolute;
  z-index: 10;
  left: 0;
}

div.gridedit .flash .renderer .extra-top-2
{
  right: 0;
  border: none;
  position: absolute;
  margin-top: 0;
  z-index: 10;
}

div.gridedit .flash .renderer .extra-top-3
{
  background: url(/pub/images/widget/flash/top_background.png) repeat-x;
  margin-bottom: -14px;
  display: block;
}

div.gridedit .flash .renderer
{
  margin-bottom: 0.25em;
  background-image: url(/pub/images/widget/gridedit/flash/vertical_border.png);
  background-repeat: repeat-y;
  background-position: left;
}

div.gridedit .flash .renderer ul.messages
{
  background: url(/pub/images/widget/gridedit/flash/vertical_border.png) repeat-y right;
  border: none;
  margin-bottom: 5px;
}

div.gridedit .flash .renderer ul.messages li
{
  background-image: none;
  border: none;
  padding-left: 0;
}

div.gridedit .flash .renderer ul.messages p
{
  text-align: center;
  font-size: x-small;
  padding-top: 1px;
}

div.gridedit .flash .renderer .extra-bottom-1
{
  background-image: none;
  border-bottom: solid 2px #ead8c2;
  margin-top: -14px;
}

div.gridedit .flash .renderer .extra-bottom-2
{
  background: url(/pub/images/widget/gridedit/flash/bottom_left.png) no-repeat top left;
  margin-top: -7px;
}

div.gridedit .flash .renderer .extra-bottom-3
{
  background: url(/pub/images/widget/gridedit/flash/bottom_right.png) no-repeat top right;
  margin-top: -7px;
}

