
body
{
  background: url(/pub/images/page_background.png);
}

div.root
{
  background-color: white;
  padding: 1em;
}

div.main-menu
{
  position: relative;
}

div.main-menu > div.composite
{
  margin-left: 16em;
}

div.main-menu > div.menu
{
  position: absolute;
  top: 0;
}
