
body
{
  background: url(/pub/images/page/background.png);
  text-align: center;
}

div.page-wrapper
{
  max-width: 70em;
  min-width: 60em;

  margin:0 auto;
  text-align: left;
  
  background-color: white;
}

.page-wrapper > .extra-top-1
{
  height: 5px;
  background: url(/pub/images/page/top_left.png) no-repeat top left;
}

.page-wrapper > .extra-top-2
{
  height: 5px;
  margin-top: -5px;
  background: url(/pub/images/page/top_right.png) no-repeat top right;
}

.page-wrapper > .extra-top-3
{
  height: 5px;
  margin-top: -5px;
  margin-left: 5px;
  margin-right: 5px;
  background: url(/pub/images/page/hor_border.png) repeat-x top;
}

div#root
{
  padding: 1em;
  border-left: black 1px solid;
  border-right: black 1px solid;
  min-height: 60em;
}

div#main-menu
{
  position: relative;
}

div#main-menu > div.composite
{
  margin-left: 16em;
}

div#main-menu > div.menu
{
  position: absolute;
  top: 0;
}

.page-wrapper > .extra-bottom-1
{
  height: 5px;
  background: url(/pub/images/page/bottom_left.png) no-repeat bottom left;
}

.page-wrapper > .extra-bottom-2
{
  height: 5px;
  margin-top: -5px;
  background: url(/pub/images/page/bottom_right.png) no-repeat bottom right;
}

.page-wrapper > .extra-bottom-3
{
  height: 5px;
  margin-top: -5px;
  margin-left: 5px;
  margin-right: 5px;
  background: url(/pub/images/page/hor_border.png) repeat-x bottom;
}

.header
{
  height: 52px;
  background: url(/pub/images/header/background.png) repeat-x;
  margin-top: -5px;
  margin-bottom: 1em;
}

.header > .extra-top-1
{
  height: 5px;
  background: url(/pub/images/header/top_left.png) no-repeat top left;
}

.header > .extra-top-2
{
  height: 5px;
  margin-top: -5px;
  background: url(/pub/images/header/top_right.png) no-repeat top right;
}

.header > .extra-top-3
{
  height: 42px;
  margin-left: 5px;
  background: url(/pub/images/header/logo.png) no-repeat center left;
}

.header > .extra-bottom-1
{
  height: 5px;
  background: url(/pub/images/header/bottom_left.png) no-repeat bottom left;
}

.header > .extra-bottom-2
{
  height: 5px;
  margin-top: -5px;
  background: url(/pub/images/header/bottom_right.png) no-repeat bottom right;
}

.header > .extra-bottom-3
{
  display: none;
}

.footer
{
  margin-top: 1em;
}

.footer > p#system-info
{
  margin-bottom: 0;
}

.footer > p#contact-info
{
  margin-top: 0;
}
