
.menu
{
  width: 15em;
}

.empty-menu
{
  padding-left: 0.5em;
}

.selected-item
{
  color: #808080;
  font-weight: bold;  
}

.menu > ul > li.selected-item > span
{
  background: url(/pub/arrow.png) no-repeat center left;
  padding-left: 11px;
  margin-left: -11px;
}
