
div.suggest
{
  border: solid 1px;
  background-color: #F6FBFD;
}

div.suggest ul
{
  margin: 0;
  padding: 0;
}

div.suggest ul li
{
  list-style-type: none;
  margin: 0;
  padding: 2px;
  display: block;
}

div.suggest ul li.selected
{
  background-color: #D8EAF8;
}
