@import url(/pub/stylesheets/table.css);
@import url(/pub/stylesheets/isearch.css);

/* Body */
.datagrid
{
  margin-bottom: 1em;
  position: relative;
  _height: 1%; /* IE 6 fix */
}

.datagrid form.datagrid-form fieldset
{
  border: none;
  margin: 0;
  padding: 0;
}

.datagrid form.datagrid-form
{
  margin: 0;
  padding: 0;
}

/* Sorting */
.sort-asc span
{
  background: url(/pub/images/widget/datagrid/sort_bg_asc.png) repeat-x bottom;
}

.sort-asc span a
{
  background: url(/pub/images/widget/datagrid/up_arrow.png) no-repeat right center;
}

.sort-desc span
{
  background: url(/pub/images/widget/datagrid/sort_bg_desc.png) repeat-x top;
}

.sort-desc span a
{
  background: url(/pub/images/widget/datagrid/down_arrow.png) no-repeat right center;
}


.sort-asc span a, .sort-desc span a,
.sort-asc span, .sort-desc span
{
  display: block;
  text-decoration: underline;
}

/* Filter */
.datagrid-search-bar .extra-top-1, .datagrid-search-bar .extra-top-2,
.datagrid-search-bar .extra-top-3, .datagrid-search-bar .extra-bottom-1,
.datagrid-search-bar .extra-bottom-2, .datagrid-search-bar .extra-bottom-3,
.datagrid-search-bar span.title
{
  display: none;
}

.datagrid .data-mining-bar
{
  position: relative;
  margin-bottom: 0.25em;
  text-align: right;
  height: 1em;
}

.datagrid > .data-mining-bar
{
  height: auto;
  min-height: 1em;
}

.datagrid-search-bar form, .datagrid-search-bar form fieldset
{
  display: inline;
  border: none;
  padding: 0;
  margin: 0;
}

.datagrid-search-bar form fieldset
{
  padding-left: 18px;
  background: url(/pub/images/widget/datagrid/isearch.png) left bottom no-repeat;
  vertical-align: bottom;
}

.datagrid-search-bar form fieldset input.search-bar
{
  margin: 0;
}

.datagrid-search-bar form fieldset input.submit
{
  margin: 0;
  margin-left: 0.5em;
}

.datagrid-search-bar span.total-items
{
  margin: 0;
  padding: 0;
  padding-right: 0.5em;
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: bottom;
}

/* Selecting */
p.datagrid-select-bar
{
  padding: 0;
  margin: 0;
  font-size: x-small;
  position: absolute;
  bottom: 0;
  left: 0;
}

p.datagrid-select-bar strong
{
  color: gray;
  font-family: Garamond, New York, serif;
  font-weight: normal;
}

.datagrid form .select
{
  text-align: right;
  width: 1em;
}

.datagrid table tbody tr.drilled-down td.select input
{
  visibility: hidden;
}

.datagrid table tbody tr.drilled-down td.select div
{
  background: url(/pub/images/widget/arrow.png) no-repeat center center;
}

/* We need to adjust margins to properly style pagination and item
operations */
.datagrid .datagrid-body .view.table
{
  margin-bottom: 0;
}

.datagrid form.datagrid-form
{
  margin-bottom: 1em;
}

/* Operations */
div.item-operations
{
  position: absolute;
  right: 0;
  margin-top: 0.25em;
}

div.item-operations input.submit
{
  margin-left: 0.5em;
}

/* Datagrid specific pagination styles */
.datagrid div.pagination
{
  margin-top: -1em;
}

.datagrid div.pagination,
.datagrid div.pagination form fieldset input
{
  font-size: x-small;
}

/* Flash */
div.datagrid .flash
{
  position: relative;
  _height: 1%; /* hasLayout IE 6 fix */
}

div.datagrid .flash .view .extra-top-1
{
  position: absolute;
  z-index: 10;
  left: 0;
  width: 5px;
  overflow: hidden;
}

div.datagrid .flash .view .extra-top-2
{
  right: 0;
  width: 5px;
  border: none;
  position: absolute;
  margin-top: 0;
  z-index: 10;
  overflow: hidden;
}

div.datagrid .flash .view .extra-top-3
{
  height: 2px;
  background: url(/pub/images/widget/flash/top_background.png) repeat-x;
  display: block;
  overflow: hidden;
}

div.datagrid .flash .view
{
  margin-bottom: 0.25em;
  background-image: url(/pub/images/widget/datagrid/flash/vertical_border.png);
  background-repeat: repeat-y;
  background-position: left;
}

div.datagrid .flash .view ul.messages
{
  background: url(/pub/images/widget/datagrid/flash/vertical_border.png) repeat-y right;
  border: none;
  margin-bottom: 5px;
}

div.datagrid .flash .view ul.messages li
{
  background-image: none;
  border: none;
  padding-left: 0;
}

div.datagrid .flash .view ul.messages p
{
  text-align: center;
  font-size: x-small;
  padding-top: 1px;
}

div.datagrid .flash .view .extra-bottom-1
{
  background-image: none;
  border-bottom: solid 2px #ead8c2;
  margin-top: -14px;
}

div.datagrid .flash .view .extra-bottom-2
{
  background: url(/pub/images/widget/datagrid/flash/bottom_left.png) no-repeat top left;
  margin-top: -7px;
}

div.datagrid .flash .view .extra-bottom-3
{
  background: url(/pub/images/widget/datagrid/flash/bottom_right.png) no-repeat top right;
  margin-top: -7px;
}

