
.form
{
  width: 27em;
  margin-top: 0;
}

.form fieldset
{
  border: none;
  padding: 0;
  margin: 0;
}

.form fieldset .validation-errors-summary
{
  display: none;
}

/* For long forms, change display of validation summary back */
.long-form fieldset .validation-errors-summary
{
  display: block;
}

.long-form fieldset .validation-errors-summary h2.error-count
{
  color: red;
}

.long-form fieldset .validation-errors-summary ul li
{
  font-style: italic;
  color: red;
  border-top: none;
  border-bottom: none;
}

.form fieldset .form-fields-title
{
  display: none;
}

form.renderer fieldset ul li label em.required-slot,
form.renderer fieldset ul li span.label em.required-slot
{
  font-weight: normal;
  display: inline;
  font-size: x-small;
  font-style: normal;
  color: red;
}

form.renderer fieldset ul li label input,
form.renderer fieldset ul li label select
{
  margin-top: 2px;
  margin-bottom: 2px;
  width: 12em;
}

form.renderer fieldset ul li label input
{
  padding: 0;
}

form.renderer fieldset ul li label input.checkbox,
form.renderer fieldset ul li label.radio input.radio
{
  width: auto;
  /* A hack for IE to line up the checkbox and radio button */
  margin-left: -4px;
}

/* Set normal margin for other browsers (comment is necessary to hide
from IE7) */
form.renderer >/**/fieldset ul li label input.checkbox,
form.renderer >/**/fieldset ul li label.radio input.radio

{
  margin-left: 0;
}

form.renderer fieldset div.submit input.submit
{
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 0.5em;
}

p.validation-error
{
  color: red;
  font-weight: normal;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0;
}

p.validation-error span.validation-error-heading
{
  display: none;
}

/* Radio buttons */
form.renderer fieldset ul li label.radio
{
  display: block;
  margin-left: 12em;
}

form.renderer >/**/fieldset ul li label.radio
{
  /* We only need this for non-IE browsers */
  margin-top: 0.25em;
}

form.renderer fieldset ul li label.radio.first
{
  display: inline;
  margin-left: 0;
  margin-top: 0;
}

form.renderer fieldset ul li label.radio input.radio
{
  width: auto;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
}

form.renderer fieldset ul li label.radio span
{
  vertical-align: middle;
}

