
body
{
  font-size: small;
  font-family: arial, helvetica, sans-serif;
}

a
{
  color: #A61E2E;
}

.renderer
{
  background: #ecf8d7 url(/pub/images/widget/top_background.png) repeat-x;
  margin-bottom: 1em;
  _height: 0; /* IE specific hasLayout fix */
}

.renderer .extra-top-1
{
  height: 7px;
  background: url(/pub/images/widget/top_left.png) no-repeat top left;
  overflow: hidden;
}

.renderer .extra-top-2
{
  height: 7px;
  margin-top: -7px;
  background: url(/pub/images/widget/top_right.png) no-repeat top right;
  border-bottom: 1px solid #dbeac1;
  overflow: hidden;
}

.renderer h1, .renderer fieldset h1,
.long-form fieldset .validation-errors-summary h2.error-count
{
  margin: 0;
  padding: 0;
  padding-left: 0.4em;
}

.renderer h1, .renderer fieldset h1, .table table caption, .empty-table p,
.renderer .empty-navigation, .renderer ul li, .renderer fieldset ul li,
.renderer table thead tr th,
.renderer fieldset div.submit, .renderer div.submit,
.long-form fieldset .validation-errors-summary h2.error-count
{
  border-top: 1px solid #fcfef6;
}

.renderer h1, .renderer fieldset h1, .table table caption, .empty-table p,
.renderer .empty-navigation, .renderer ul li, .renderer fieldset ul li,
.renderer table thead tr th,
.renderer fieldset div.submit, .renderer div.submit,
.long-form fieldset .validation-errors-summary
{
  border-bottom: 1px solid #dbeac1;
}

.renderer h1, .renderer fieldset h1, .table table caption, .empty-table p,
.renderer .empty-navigation, .renderer ul, .renderer fieldset ul, .table table,
.renderer fieldset div.submit, .renderer div.submit,
.long-form fieldset .validation-errors-summary h2.error-count
{
  border-left: 2px solid #dbeac1;
  border-right: 2px solid #dbeac1;
}

h1, h2
{
  font-size: large;
  color: #29364F;
  font-weight: bold;
  font-family: Garamond, New York, serif;
}

.renderer h1 .action, .renderer fieldset h1 .action
{
  display: none;
}

.renderer ul, .renderer fieldset ul, .table table, .renderer fieldset div.submit,
.renderer div.submit
{
  padding-left: 0;
  margin: 0;
}

.renderer ul li, .renderer fieldset ul li, .menu ul li a
{
  list-style: none;
  padding-left: 1.5em;
}

.renderer div.submit, .form fieldset div.submit
{
  padding-left: 13.5em;
}

.renderer ul li .label, .renderer fieldset ul li label span.slot-name,
.table table thead
{
  color: #808080;
  font-weight: bold;
}

.renderer ul li .label, .renderer fieldset ul li label span.slot-name
{
  display: -moz-inline-box;
  display: inline-block;
  width: 12em;
}

.renderer .extra-bottom-1
{
  height: 7px;
  background: url(/pub/images/widget/bottom_background.png) repeat-x top;
  overflow: hidden;
}

.renderer .extra-bottom-2
{
  height: 7px;
  margin-top: -7px;
  background: url(/pub/images/widget/bottom_left.png) no-repeat top left;
  overflow: hidden;
}

.renderer .extra-bottom-3
{
  height: 7px;
  margin-top: -7px;
  background: url(/pub/images/widget/bottom_right.png) no-repeat top right;
  overflow: hidden;
}

.missing
{
  font-style: italic;
  color: #808080;
}

input[type=hidden]
{
  visibility: hidden;
}

#ajax-progress
{
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}

/* IE 6 specific progress bar fix */
* html #ajax-progress
{
  position: absolute;
  left: expression((documentElement.scrollLeft
                     + (documentElement.clientWidth - this.clientWidth))
                   + 'px')
  top: expression(documentElement.scrollTop + 'px');
}

/* Common styles for form, and data */
.data, .form
{
  width: 27em;
}

/* Close button */
span.close-button 
{
  display: block;
  width: 15px;
  height: 15px;
  overflow: hidden;
}

span.close-button a
{
  /* background: url(/pub/images/close.png) no-repeat top left; */
  padding-left: 1000em;
}

span.close-button a:hover
{
  /* background: url(/pub/images/close_hl.png) no-repeat top left; */
}

/* Total Items */
span.total-items
{
  color: gray;
  font-size: x-small;
}

/* Text */
.ellipsis
{
  color: gray;
  font-weight: bold;
}

p.text
{
  margin: 0;
}

.renderer ul li p.text
{
  margin-left: 0.5em;
}

