# to build documentation
sphinx
pygments-cl-repl
sphinx-bootstrap-theme
releases

# to support docstring extraction and cross-referencing
-e git+https://github.com/40ants/sphinxcontrib-cldomain.git#egg=sphinxcontrib-cldomain

